@import "tailwindcss";


/* ================================ */
/* ======== fonts  ================ */
/* ================================== */

@font-face {
    font-family: font1;
    src: url(../public/fonts/3XFtErw3860rsdSUVZx78hP2QtzZ.woff2);
}


@font-face {
    font-family: font4;
    src: url(../public/fonts/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7.woff2);
}


.font1 {
    font-family: font1;
}

.font4 {
    font-family: font4;
}


/* ================================== */
/* ===========Animations============= */
/* ================================== */

@keyframes rotateBox {

    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}

.rotate-infinite {
    animation: rotateBox 10s linear infinite;
}